In [3]:
import pandas as pd

In [4]:
sent = pd.read_pickle('daily_sentiment.pickle')
index_ = pd.read_csv('data/주식한달데이터.csv')

In [5]:
index_['날짜'] = pd.to_datetime(index_['날짜'], format='%Y%m%d')
index_['날짜'] = index_['날짜'].dt.strftime('%Y-%m-%d')

In [6]:
index_

            날짜       종목명  종가(백만원)  거래량(천주)
0   2025-12-23   KRX 자동차  2496.37    12349
1   2025-12-23  KRX 헬스케어  4775.53    19621
2   2025-12-23    KRX 건설   832.23    39530
3   2025-12-22   KRX 자동차  2523.31    13166
4   2025-12-22  KRX 헬스케어  4817.14    21024
5   2025-12-22    KRX 건설   837.89    75585
6   2025-12-19   KRX 자동차  2515.84    12806
7   2025-12-19  KRX 헬스케어  4861.55    30168
8   2025-12-19    KRX 건설   820.60    36010
9   2025-12-18   KRX 자동차  2459.08     9597
10  2025-12-18  KRX 헬스케어  4775.98    21147
11  2025-12-18    KRX 건설   819.46    61044
12  2025-12-17   KRX 자동차  2509.42    20114
13  2025-12-17  KRX 헬스케어  4796.50    25323
14  2025-12-17    KRX 건설   830.52    55711
15  2025-12-16   KRX 자동차  2485.66    14758
16  2025-12-16  KRX 헬스케어  4881.50    38287
17  2025-12-16    KRX 건설   816.94    86007
18  2025-12-15   KRX 자동차  2532.83     8978
19  2025-12-15  KRX 헬스케어  4927.73    30104
20  2025-12-15    KRX 건설   839.68   105706
21  2025-12-12   KRX 자동차  2579.65    10633
22  2025-12-12  KRX 헬스케어  4865.25    45321
23  2025-12-12    KRX 건설   869.81    88902
24  2025-12-11   KRX 자동차  2516.66    16310
25  2025-12-11  KRX 헬스케어  4913.26    59600
26  2025-12-11    KRX 건설   831.19    55445
27  2025-12-10   KRX 자동차  2547.48    10938
28  2025-12-10  KRX 헬스케어  4899.63    33119
29  2025-12-10    KRX 건설   812.28    13778
30  2025-12-09   KRX 자동차  2559.72    12216
31  2025-12-09  KRX 헬스케어  4858.19    30994
32  2025-12-09    KRX 건설   815.10    22556
33  2025-12-08   KRX 자동차  2604.74    14134
34  2025-12-08  KRX 헬스케어  4806.33    36888
35  2025-12-08    KRX 건설   822.35    29733
36  2025-12-05   KRX 자동차  2607.52    22724
37  2025-12-05  KRX 헬스케어  4860.54    44557
38  2025-12-05    KRX 건설   836.32    22471
39  2025-12-04   KRX 자동차  2486.75    21996
40  2025-12-04  KRX 헬스케어  4990.91    29785
41  2025-12-04    KRX 건설   799.81    17858
42  2025-12-03   KRX 자동차  2415.51    14140
43  2025-12-03  KRX 헬스케어  4978.88    34928
44  2025-12-03    KRX 건설   809.35    22793
45  2025-12-02   KRX 자동차  2376.20    24411
46  2025-12-02  KRX 헬스케어  4979.90    25087
47  2025-12-02    KRX 건설   785.34     9244
48  2025-12-01   KRX 자동차  2294.57    11789
49  2025-12-01  KRX 헬스케어  5017.10    29249
50  2025-12-01    KRX 건설   776.06    17355
51  2025-11-28   KRX 자동차  2331.62    17723
52  2025-11-28  KRX 헬스케어  4989.18    31021
53  2025-11-28    KRX 건설   789.41    15027
54  2025-11-27   KRX 자동차  2296.52    14199
55  2025-11-27  KRX 헬스케어  4855.56    20680
56  2025-11-27    KRX 건설   783.77     8948
57  2025-11-26   KRX 자동차  2262.07    11557
58  2025-11-26  KRX 헬스케어  4873.34    24956
59  2025-11-26    KRX 건설   787.14     7811

In [7]:
# 종가
pivot_index_price = index_.pivot(index='날짜', columns='종목명', values='종가(백만원)')
pivot_index_price

종목명         KRX 건설  KRX 자동차  KRX 헬스케어
날짜
2025-11-26  787.14  2262.07   4873.34
2025-11-27  783.77  2296.52   4855.56
2025-11-28  789.41  2331.62   4989.18
2025-12-01  776.06  2294.57   5017.10
2025-12-02  785.34  2376.20   4979.90
2025-12-03  809.35  2415.51   4978.88
2025-12-04  799.81  2486.75   4990.91
2025-12-05  836.32  2607.52   4860.54
2025-12-08  822.35  2604.74   4806.33
2025-12-09  815.10  2559.72   4858.19
2025-12-10  812.28  2547.48   4899.63
2025-12-11  831.19  2516.66   4913.26
2025-12-12  869.81  2579.65   4865.25
2025-12-15  839.68  2532.83   4927.73
2025-12-16  816.94  2485.66   4881.50
2025-12-17  830.52  2509.42   4796.50
2025-12-18  819.46  2459.08   4775.98
2025-12-19  820.60  2515.84   4861.55
2025-12-22  837.89  2523.31   4817.14
2025-12-23  832.23  2496.37   4775.53

In [8]:
# 거래량
pivot_index_volumn = index_.pivot(index='날짜', columns='종목명', values='거래량(천주)')
pivot_index_volumn

종목명         KRX 건설  KRX 자동차  KRX 헬스케어
날짜
2025-11-26    7811    11557     24956
2025-11-27    8948    14199     20680
2025-11-28   15027    17723     31021
2025-12-01   17355    11789     29249
2025-12-02    9244    24411     25087
2025-12-03   22793    14140     34928
2025-12-04   17858    21996     29785
2025-12-05   22471    22724     44557
2025-12-08   29733    14134     36888
2025-12-09   22556    12216     30994
2025-12-10   13778    10938     33119
2025-12-11   55445    16310     59600
2025-12-12   88902    10633     45321
2025-12-15  105706     8978     30104
2025-12-16   86007    14758     38287
2025-12-17   55711    20114     25323
2025-12-18   61044     9597     21147
2025-12-19   36010    12806     30168
2025-12-22   75585    13166     21024
2025-12-23   39530    12349     19621

In [9]:
# 1. 아까 만든 pivot_df를 다시 long format으로 (melt 사용)
df_melted = sent.reset_index().melt(id_vars='date', var_name='industry', value_name='sentiment_score')
df_melted

          date    industry  sentiment_score
0   2025-12-01  Automotive         0.856483
1   2025-12-02  Automotive         0.786420
2   2025-12-03  Automotive         0.828320
3   2025-12-04  Automotive         0.862157
4   2025-12-05  Automotive         0.866582
..         ...         ...              ...
58  2025-12-17  Healthcare         0.783878
59  2025-12-18  Healthcare         0.856880
60  2025-12-19  Healthcare         0.801638
61  2025-12-20  Healthcare         0.541500
62  2025-12-21  Healthcare         0.652264

[63 rows x 3 columns]

In [ ]:
# 2. 산업별 기사 비율 계산 (이건 원본 데이터에서 따로 계산해서 합쳐야 함)
# df_melted['article_ratio'] = ... 

# 3. 주가 및 거래량 데이터 Merge
# 'date'와 'industry' 두 가지를 기준으로 병합(Merge)합니다.
final_df = pd.merge(df_melted, index_, on=['date', 'industry'], how='left')

# 4. Target(정답) 만들기: 주가 데이터를 1일, 2일 뒤로 밀어서 생성
final_df['D+1 종가'] = final_df.groupby('industry')['종가(백만원)'].shift(-1)
final_df['D+2 종가'] = final_df.groupby('industry')['종가(백만원)'].shift(-2)
final_df['D+1 거래량'] = final_df.groupby('industry')['종가(백만원)'].shift(-1)
final_df['D+2 거래량'] = final_df.groupby('industry')['종가(백만원)'].shift(-2)

In [ ]:
# 방안 1.