In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% ! important;}
div.cell.code_cell.rendered{width:100%}
div.input_prompt{padding:0px}
div.CodeMirror {font-family:Consolas ; font-size:12pt;}
div.text_cell_render.rendered_html {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold}
div.input {font-family:Consolas ; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper {padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

## 데이터 비교를 위한 for문 점검

In [118]:
check_number = []
for data_idx in range(21):
    if data_idx == 0:
        for start_idx in range(3):
            check_number.append(f'{0}일')
    else:
        for udw_idx in range(3):
            check_number.append(f'{data_idx}일 {udw_idx}')

In [119]:
len(check_number)

63

# 실행코드

In [1]:
import pandas as pd

# 
data = pd.read_csv('data/주식데이터크롤링.csv')
data.head()

         날짜       종목명  종가(백만원)  거래량(천주)
0  20251224   KRX 자동차  2502.26     8582
1  20251224  KRX 헬스케어  4737.30    21330
2  20251224    KRX 건설   833.39    52466
3  20251223   KRX 자동차  2496.37    12396
4  20251223  KRX 헬스케어  4775.53    19800

In [3]:
data.sort_values(by='날짜',ascending=True, inplace=True)
data.reset_index(drop=True, inplace=True)
data.head(6)

         날짜       종목명  종가(백만원)  거래량(천주)
0  20251201    KRX 건설   776.06    17355
1  20251201  KRX 헬스케어  5017.10    29249
2  20251201   KRX 자동차  2294.57    11789
3  20251202    KRX 건설   785.34     9244
4  20251202  KRX 헬스케어  4979.90    25087
5  20251202   KRX 자동차  2376.20    24411

In [4]:
check_data = data.iloc[:,-2].copy()
KRX_items = set(data.iloc[:,1])

In [5]:
data_count = len(check_data)
KRX_count = len(KRX_items)

date_count = int(data_count/KRX_count)

In [6]:
up_down_list = []
# 전체데이터에 날짜당 아이템 갯수를 나누어 묶음들을 구함
for date_idx in range(date_count):
    # 묶음 내부의 값들의 증감치 추가
    # 첫 묶음은 비교대상이 없기에 '시작일'로 지정
    if date_idx == 0:
        for start_idx in range(KRX_count):
            up_down_list.append('시작일')
    else:
        # 현재 묶음과 이전 묶음의 각각의 아이템의 크기를 비교 
        for udw_idx in range(KRX_count):
            if check_data[date_idx*3 + udw_idx] > check_data[(date_idx-1)*3 + udw_idx]:
                up_down_list.append('증가')
            elif check_data[date_idx*3 + udw_idx] < check_data[(date_idx-1)*3 + udw_idx]:
                up_down_list.append('감소')
            else:
                up_down_list.append('변동없음')

In [7]:
len(up_down_list)

54

In [8]:
up_down_list[:10]

['시작일', '시작일', '시작일', '증가', '감소', '증가', '증가', '감소', '증가', '감소']

In [9]:
data['전일대비'] = up_down_list

In [10]:
data.head(12)

          날짜       종목명  종가(백만원)  거래량(천주) 전일대비
0   20251201    KRX 건설   776.06    17355  시작일
1   20251201  KRX 헬스케어  5017.10    29249  시작일
2   20251201   KRX 자동차  2294.57    11789  시작일
3   20251202    KRX 건설   785.34     9244   증가
4   20251202  KRX 헬스케어  4979.90    25087   감소
5   20251202   KRX 자동차  2376.20    24411   증가
6   20251203    KRX 건설   809.35    22793   증가
7   20251203  KRX 헬스케어  4978.88    34928   감소
8   20251203   KRX 자동차  2415.51    14140   증가
9   20251204    KRX 건설   799.81    17858   감소
10  20251204  KRX 헬스케어  4990.91    29785   증가
11  20251204   KRX 자동차  2486.75    21996   증가

In [11]:
data.to_csv('data/전일대비_증감치추가.csv')